@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
:root{
    --color-primary: #00DDA3;
    --color-secundary: #33404F;
    --color-icon: #fff;
}
